.british-scientists {
  display: none;
}

@media (min-width: @tablet-width) {
  .british-scientists {
    display: block;
    padding: 95px 0;
  }

  .british-scientists__container {
    .container-tablet;
  }

  .british-scientists__header,
  .british-scientists__description,
  .british-scientists__link {
    margin: 0;
  }

  .british-scientists__wrapper {
    position: relative;

    width: 310px;

    margin-left: auto;

    &::before {
      content: "";

      position: absolute;
      top: -37px;
      left: -309px;

      width: 238px;
      height: 276px;

      background: url("../../img/icon-timer.svg") no-repeat center;
      background-size: cover;
    }

    &::after {
      content: "24";

      position: absolute;
      top: 17px;
      left: -292px;


      width: 174px;
      height: 174px;

      font-family: @font-bold;
      font-size: 96px;
      line-height: 165px;
      color: #d22856;
      text-transform: uppercase;
      text-align: center;

      border: 15px solid #d22856;
      border-radius: 50%;
    }
  }

  .british-scientists__header {
    margin-bottom: 10px;

    font-family: @font-bold;
    font-size: 30px;
    line-height: 36px;
    color: black;
  }

  .british-scientists__description {
    margin-bottom: 10px;
  }

  .british-scientists__link {
    display: block;

    color: #d22856;
    text-decoration: underline;
  }
}

@media (min-width: @desktop-width) {
  .british-scientists {
    padding-top: 127px;
    padding-bottom: 113px;
    background-color: #f2f2f2;
  }

  .british-scientists__container {
    .container-desktop;
  }

  .british-scientists__wrapper {
    width: 573px;

    &::before {
      top: -96px;
      left: -366px;

      width: 298px;
      height: 345px;
    }

    &::after {
      top: -25px;
      left: -344px;

      width: 220px;
      height: 220px;

      font-size: 122px;
      line-height: 205px;

      border: 16px solid #d22856;
    }
  }

  .british-scientists__header {
    margin-bottom: 24px;

    line-height: 30px;
  }

  .british-scientists__header br {
    display: none;
  }

  .british-scientists__description {
    margin-bottom: 30px;
    padding-right: 55px;

    font-size: 18px;
    line-height: 30px;
  }

  .british-scientists__link {
    font-size: 18px;
    line-height: 30px;
  }
}
