.download {
  padding-top: 28px;
  padding-bottom: 30px;

  background-color: @bg-darkblue;
}

.download__wrapper {
  .container-mobile;
}

@media (min-width: @tablet-width) {
  .download {
    // position: relative;
    // z-index: 10;

    width: 300px;
    // margin-top: -360px;
    margin-bottom: 110px;
    // margin-left: 20px;
    padding: 0;

    background-color: transparent;
  }

  .download__wrapper {
    width: 300px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .download {
    margin-bottom: 122px;
  }
}

