.feautures__header {
  .padding-side;
  margin-bottom: 29px;
  padding-top: 40px;
}

.feautures__teaser {
  margin: 0;
  font-family: @font-light;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.feautures__header p:first-of-type {
  margin-bottom: 27px;
}

.feautures__list {
  .list-style-reset;
  .padding-side;
  padding-top: 82px;
  padding-bottom: 32px;
  background-color: @bg-grey;
  clip-path: polygon(0 32px, 100% 0%, 100% 100%, 0% 100%);
}

.feautures__item {
  text-align: center;

  &:last-child p {
    margin-bottom: 0;
  }
}

.feautures__name {
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 18px;
  font-family: @font-bold;
  color: black;
}

.feautures__description {
  margin-top: 0;
  margin-bottom: 32px;
}
