.main-nav {
  position: relative;
  z-index: 20;
  margin-bottom: -66px;
  background-color: @bg-lightblue;
}

.main-nav__logo {
  display: inline-block;
  width: 75px;
  height: 22px;
  margin-top: 22px;
  margin-bottom: 25px;
  margin-left: 20px;
}

.main-nav__close {
  width: 24px;
  height: 24px;
  margin-top: 21px;
  margin-right: 20px;
}

.main-nav__wrapper {
  .flex-space-between();
}

@media (min-width: @tablet-width) {
  .main-nav {
    margin-bottom: -110px;
  }

  .main-nav__logo {
    width: 147px;
    height: 40px;
    margin-top: 27px;
    margin-bottom: 42px;
  }

  .main-nav__close {
    margin-top: 45px;
  }

  .main-nav__logo-image {
    width: 147px;
    height: 40px;
  }
}
