.main-header {
  margin-bottom: -66px;
}

.main-header__logo-container {
  position: relative;

  .container-mobile;
}

.main-header__logo {
  position: absolute;
  top: 22px;
  left: 20px;
  z-index: 10;

  display: inline-block;
  width: 75px;
  height: 22px;
}

.main-header__nav-toggle {
  .button-style-reset;
  width: 50px;
  height: 24px;
  margin-left: auto;
}

.main-header__wrapper {
  padding: 21px 20px;

  background-color: fade(black, 30%);
}

.main-header--active .main-header__wrapper {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-header {
    margin-bottom: -110px;
  }
}
