.main-nav {
  position: relative;
  z-index: 20;
  background-color: fade(black, 30%);
}

.main-nav.main-nav--active,
.main-nav.main-nav--nojs {
  background-color: @bg-lightblue;
}

.main-nav__wrapper {
  .flex-space-between;
  padding: 0 20px;
}

.main-nav--active .main-nav__wrapper {
  border-bottom: 1px solid black;
}

.main-nav__logo-glasses-desktop,
.main-nav__logo-glasses,
.main-nav__logo-stars,
.main-nav__logo-word {
  display: none;
}

.main-nav__logo-image {
  width: 147px;
  height: 40px;

  fill: white;
}

.main-nav__logo {
  display: block;
  width: 75px;
  height: 22px;
  margin-top: 22px;
  margin-bottom: 22px;

  overflow: hidden;

  &[href]:hover .main-nav__logo-image,
  &[href]:focus .main-nav__logo-image {
    fill: #d22856;
  }

  &[href]:active .main-nav__logo-image {
    fill: fade(white, 30%);
  }
}


.main-nav--active .main-nav__logo {
  margin-bottom: 25px;
}

.main-nav__close {
  .button-style-reset;
  display: none;
  width: 24px;
  height: 24px;
  margin-top: 21px;

  &:hover .main-nav__cross-button,
  &:focus .main-nav__cross-button {
    fill: #d22856;
  }

  &:active .main-nav__cross-button {
    fill: fade(#d22856, 30%);
  }
}

.main-nav__cross-button {
  width: 24px;
  height: 24px;

  fill: white;
}

.main-nav--active .main-nav__close {
  display: block;
}

.main-nav--active.main-nav--nojs .main-nav__close {
  display: none;
}

.main-nav__open {
  .button-style-reset;
  width: 50px;
  height: 24px;
  margin-top: 21px;

  &:hover .main-nav__hamburger-button,
  &:focus .main-nav__hamburger-button {
    fill: #d22856;
  }

  &:active .main-nav__hamburger-button {
    fill: fade(#d22856, 30%);
  }
}

.main-nav__hamburger-button {
  width: 50px;
  height: 24px;

  fill: white;
}

.main-nav--active .main-nav__open {
  display: none;
}

.main-nav__list {
  display: none;
}

.main-nav--active .main-nav__list,
.main-nav--nojs .main-nav__list {
  display: block;
}

@media (min-width: @tablet-width) {
  .main-nav__logo-glasses,
  .main-nav__logo-word {
    display: inline-block;
  }

  .main-nav__logo-stars,
  .main-nav__logo-word-mobile {
    display: none;
  }

  .main-nav__logo {
    width: 147px;
    height: 40px;
    margin-top: 27px;
    margin-bottom: 43px;
  }

  .main-nav--active .main-nav__logo {
    margin-bottom: 42px;
  }

  .main-nav__logo-image {
    width: 147px;
    height: 40px;
  }

  .main-nav__open {
    margin-top: 44px;
  }

  .main-nav__close {
    margin-top: 45px;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__logo-glasses-desktop,
  .main-nav__logo-stars {
    display: inline-block;
  }

  .main-nav__logo-glasses {
    display: none;
  }

  .main-nav.main-nav--active,
  .main-nav {
    background-color: fade(black, 30%);
  }

  .main-nav__wrapper {
    width: auto;
    margin: 0;
    padding: 0;
  }

  .main-nav--active .main-nav__wrapper {
    border: none;
  }

  .main-nav--active .main-nav__close {
    display: none;
  }

  .main-nav__open {
    display: none;
  }

  .main-nav__flex-wrapper {
    .flex-space-between;
    .container-desktop;
  }

  .main-nav--active .main-nav__list,
  .main-nav__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}
