// .main-header {
//   position: relative;
// }

.main-header__logo {
  display: inline-block;
  width: 75px;
  height: 22px;
  margin: 22px 20px;
}

.main-header__nav-toggle {
  width: 50px;
  height: 24px;
  margin-top: 21px;
  margin-right: 20px;
}

.main-header__wrapper {
  position: relative;
  z-index: 10;
  .flex-space-between();
  background-color: fade(black, 30%);
}

@media (min-width: @tablet-width) {
  .main-header__logo {
    width: 147px;
    height: 40px;
    margin-top: 27px;
    margin-bottom: 43px;
  }

  .main-header__nav-toggle {
    margin-top: 44px;
  }

  .main-header__logo-image {
    width: 147px;
    height: 40px;
  }
}
