.main-nav {
  background-color: @bg-lightblue;
}

.main-nav__logo {
  display: inline-block;
  width: 75px;
  height: 22px;
  margin-top: 22px;
  margin-bottom: 25px;
  margin-left: 20px;
}

.main-nav__close {
  width: 24px;
  height: 24px;
  margin-top: 21px;
  margin-right: 20px;
}

.main-nav__wrapper {
  .flex-space-between();
}
