.main-screen {
  // margin-top: -66px;
  margin-bottom: 40px;
  // margin-bottom: 30px;

  background-color: @bg-lightblue;
  background-image: url("../../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  // background-position: 0 0;
  // background-position: center -33px;
  background-position: center top;
  background-size: 100%;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.main-screen__header {
  // .container-mobile;
  // margin: 0;
  margin-top: 87px;
  margin-bottom: 28px;
  padding: 0 20px;

  font-family: @font-light;
  font-size: 24px;
  line-height: 30px;
  color: white;
  text-align: center;
}

.main-screen__image {
  vertical-align: top;
}

.main-screen__header-wrapper {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .main-screen {
    // position: relative;
    // z-index: -10;

    // margin-top: -110px;
    margin-bottom: 49px;

    background-image: url("../../img/bg-back-tablet@1x.jpg");
    background-position: center top;
    background-size: auto;
  }

  .main-screen__wrapper {
    position: relative;
    z-index: 10;

    .container-tablet;
  }

  .main-screen__header-wrapper {
    width: 100%;
    margin: 0;
    // margin-right: auto;
  }

  .main-screen__image {
    position: absolute;
    top: -19px;
    left: 165px;
    z-index: -10;

    width: 475px;
    height: 545px;
    // margin-left: 160px;
    // margin-top: -162px;
  }

  .main-screen__header {
    // position: relative;
    // z-index: 10;

    box-sizing: border-box;
    width: 300px;
    margin-top: 202px;
    margin-bottom: 30px;
    margin-left: 0;
    padding: 0 50px;


    font-size: 40px;
    line-height: 48px;
  }
}

@media (min-width: @desktop-width) {
  .main-screen {
    margin-bottom: 66px;

    background-image: url("../../img/bg-back-desktop@1x.jpg");
  }

  .main-screen__wrapper {
    .container-desktop;
  }

  .main-screen__header {
    margin-top: 219px;
    margin-bottom: 51px;
    padding: 0 20px;

    font-size: 50px;
    line-height: 60px;
  }

  .main-screen__image {
    top: -11px;
    left: 353px;

    width: 563px;
    height: 645px;
  }
}
